.not-front.page-islandora-object {
  #content {
    margin: 12px 0 0 0;
    padding: 0 0 0 15px;
    width: 705px;

    .section {
      padding: 0;
      border-top: 2px solid @color-grey-medium-x1;

      fieldset {
          border: 0px solid @color-grey-medium-x1;
          
        legend {
          background: none;
          border: 0px solid @color-grey-medium-x1;
        }
      }
    }
  }
}
